@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg-index {
  background-image: url('imagens/Index.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* ocupa a tela toda */
  background-repeat: no-repeat;
}

.bg-resumos {
  background-image: url(imagens/Resumo.png);
  width: 1920px;
  height: 2192px;
  background-repeat: no-repeat;
}


.bg-sobre-mim {
  background-image: url(imagens/aboutme.jpg);
  width: 1920px;
  height: 2192px;
  background-repeat: no-repeat;
}

.instagram-index {
  margin-left: 86px;
  margin-top: 765px;
}

.instagram-resumos {
  margin-left: 791px;
  margin-top: 2045px;
}

.sobre-mim {
  display: flex;
  width: 871px;
  height: 112px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 342px;
  margin-left: 94px;
}


.button-nav1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -11%;
  text-align: center;
  vertical-align: middle;
  
}

.linha1, .linha2 {
  display: block;
  margin-left: 200px;
}

.subtitulo {
  color: white;
}

.linha3, .linha4 {
  display: block;
  margin-left: 200px;
}

.footer {
  background-color: #111; /* cor escura */
  color: #fff;            /* texto branco */
  text-align: center;
  margin-top: 1080px;
  width: 1920px;
  padding: 20px;
}


.button-nav {
  background-color: #3C3C3C;
  border: none;
  height: 40px;
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.button-nav:hover {
  background-color: #3C3C3C;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 1200;
  text-align: center;
  margin-top: 100px;
}

.Navbar-minitext {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F9C5C5;
}

.Navbar-text {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #F9C5C5;
  margin-top: 250px;
}

.navbar-nav {
  margin-left: 450px;
}

.nav-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 1200;
  color: #722F37;

}


.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.nav-link {
  margin-left: 72px;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -6px; /* ajusta a distância abaixo da imagem */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* tamanho do traço proporcional ao conteúdo */
  height: 4px;
  background-color: #F9C5C5;
  border-radius: 999px;
}